<% if current_user.present? %>

  <h1>All Upcoming Events</h1>
  <% @events.each do |event| %>
    <% if event.event_date >= Time.now %>
      <h3><a href="/events/<%=event.id%>"> <%=event.event_name%></a></h3>
      <p>Description: <%=event.description%></p>
      <p>Date: <%=event.event_date%></p>
      <p>Time: <%=event.event_time.strftime("%I:%M %p")%></p>
      <p>Restaurant: <%=event.restaurant.restaurant_name%></p>
    <%end%>
  <% end %>


  <h1>All Past Events</h1>
  <% @events.each do |event| %>
    <% if event.event_date < Time.now %>
      <h3><a href="/events/<%=event.id%>"> <%=event.event_name%></a></h3>
      <p>Description: <%=event.description%></p>
      <p>Date: <%=event.event_date%></p>
      <p>Time: <%=event.event_time.strftime("%I:%M %p")%></p>
      <p>Restaurant: <%=event.restaurant.restaurant_name%></p>
    <%end%>
  <% end %>

<%else%>
  <h1>Please login to view events listing</h1>
<%end%>