<section class="section">
  <div class="container">
    <header class="section__title">
        <h2>Event Edit Page</h2>
    </header>

    <div class="card">
      <div class="card__header">

        <%= form_tag "/events/#{@event.id}", method: :patch do %>
          <form class="card__body">
              <div class="form-group m-b-5">
                  <input type="text" name="event_name" class="form-control" value="<%= @event.event_name %>">
                  <i class="form-group__bar"></i>
                  <label>Event Name</label>
              </div>
              <div class="form-group m-b-5">
                  <input type="text" name="description" class="form-control" value="<%= @event.description %>">
                  <i class="form-group__bar"></i>
                  <label>Description</label>
              </div>
              <div class="form-group m-b-5">
                  <input type="date" name="event_date" class="form-control" value="<%= @event.event_date %>">
                  <i class="form-group__bar"></i>
                  <label>Date</label>
              </div>
              <div class="form-group m-b-5">
                  <input type="time" name="event_time" class="form-control" value="<%= @event.event_time %>">
                  <i class="form-group__bar"></i>
                  <label>Time</label>
              </div>
              <div class="form-group m-b-5">
                Restaurant: <%= collection_select :restaurant, :restaurant_id, Restaurant.all, :id, :restaurant_name %>
                <i class="form-group__bar"></i>
              </div>
            <%= submit_tag "Save" %>
          </form>
        <% end %>
      </div>
    </div>
  </div>

  <a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="/events/<%=@event.id%>" class="btn btn-primary">Delete Event?</a>
</section>