
<h1>All Events (need to reformat, old format caused errors)</h1>
  <div class="row">
    <% @events.each do |event| %>
        <div class="col-sm-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="<%=event.images.first.url%>" alt="No Image Found">
            <div class="card-body">
              <h4 class="card-title"><a href="/events/<%=event.id%>"><%=event.name%></a></h4>
              <p class="card-text"><%=event.description%></p>
              <p class="card-text"><%=number_to_currency(event.price)%></p>
              <% if current_user && current_user.admin %>
                <a href="/events/<%=event.id%>/edit" class="btn btn-primary">Edit Event?</a>
                <a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="/events/<%=event.id%>" class="btn btn-primary">Delete Event?</a>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>  


</br>
</br>



