
<h1>Event Page</h1>
</br>

<!-- EVENT INFO -->
<h4>Event Information</h4>
<p>Title: <%= @event.event_name %></p>
<p>Host: <a href="/users/<%=@event.user_id%>"><%= @event.user.first_name %> <%= @event.user.last_name %></a></p>
<p>Description: <%= @event.description %></p>
<p>Date: <%= @event.event_date %></p>
<p>Time: <%= @event.event_time.strftime("%I:%M %p") %></p>
</br>
<h4> Restaurant Information</h5>
<p>Name: <%= @event.restaurant.restaurant_name %></p>
<p>Yelp URL: <a href="<%= @event.restaurant.yelp_url%>">Click here</a></p>
<p>Address <%= @event.restaurant.address %></p>
<!-- END EVENT INFO -->

<!-- DISPLAY ATTENDEES -->
<h4>Attendees</h4>
<% @users.each do |user| %>
  <% @user_events.each do |user_event| %>
    <%if user.id == user_event.user_id && user_event.event_id == @event.id%>
      <p><a href="/users/<%=user.id%>"><%=user.first_name%> <%=user.last_name%></a></p>
    <% end %>
  <% end %>
<% end %>
<!-- END DISPLAY ATTENDEES -->

<!-- JOIN/UNJOIN EVENT -->
<%if current_user.id == @event.user_id && @event.event_date >= Time.now%>
  <a href="/events/<%=@event.id%>/edit">Edit Event</a>
<%elsif !@event.user_events.find_by(user_id: current_user.id) && @event.event_date > Time.now %>
  <%= form_tag "/user_events/#{@event.id}", method: :post do %>
    <input type="hidden" name="event_id", value="<%=@event.id%>">
    <input type="submit" value="Join Event">
  <%end%>
<%elsif @event.event_date > Time.now %>
  <%= form_tag "/user_events", method: :delete do %>
    <input type="hidden" name="user_event_id", value="<%=@event.user_events.find_by(user_id: current_user.id).id%>">
    <input type="submit" value="Unjoin Event">
  <%end%>
<%end%>
<!-- END JOIN/UNJOIN EVENT -->
</br>
<!-- MESSAGE BOX -->
<h4>MESSAGE BOX</h4>
<% if @event.user_events.find_by(user_id: current_user.id) %>
  <%= form_tag "/messages", method: :post do %>
    <input type="text" name="content", value="">
    <input type="hidden" name="event_id", value="<%=@event.id%>">
    <input type="hidden" name="user_id", value="<%=current_user.id%>">
    <input type="submit" value="Post Message">
  <%end%>
<%end%>
</br>
<div class="message_box-container">
  <% @event.messages.order("created_at DESC").limit(5).each do |message| %>
    <p> <%= message.user.first_name %> <%= message.user.last_name %> - <%= message.created_at.strftime("%b %e, %l:%M %p") %> </p>
    <p> <%= message.content %></p>
  <%end%>
</div>
<!-- END MESSAGE BOX -->

  <head>
    <style>
       #map {
        height: 350px;
        width: 350px;
       }
    </style>
  </head>
  <body>
    <h3>Map Of Location</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= @event.restaurant.latitude%>, lng: <%= @event.restaurant.longitude%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAirtoeVNwDw86t45qHbJKkS0606An_nn0&callback=initMap">
    </script>
  </body>

</br>
      